-#  This file is app/views/recipes/show.html.haml
%table{:style=>"width: 480px"}
    %tr
        %td
            Title
        %td= @recipe.title
    %tr
        %td
            Cook Time
        %td= @recipe.cook_time
    %tr
        %td
            Main Ingredient
        %td= @recipe.main_ingredient
    %tr
        %td
            Side Ingredient
        %td= @recipe.side_ingredient
    %tr
        %td
            Directions
        %td
            = @recipe.directions
    %tr
        %td
            Image
        %td
            = image_tag @recipe.recipe_image.url

%br
%br
%table{:style=>"width: 480px"}
    %tr
        %td{:colspan => 2}
            Like this recipe?
    %tr
        %td
            -# Dummy button to be replaced
            %input{:type=>"button", :value => "Yes"}
        %td
            =form_tag recipe_path, :method => :get do
                %input{:type=>"hidden", :value=>params[:main_ingredient], :name=>"main_ingredient"}
                %input{:type=>"hidden", :value=>params[:side_ingredient], :name=>"side_ingredient"}
                %input{:type=>"hidden", :value=>"#{@ids.join(",")}", :name=>"ids"}
                %input{:type=>"submit", :value=>"No Find Another"}
        %td
            =button_to 'Back', :root, :method => :get
            
