!!!
%html
  %head
    %title Recipe Finder!?
    = stylesheet_link_tag 'main', 'media' => 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'google-fonts', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'components', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    =image_tag "Banner.jpg"
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield