<div class="brand">Fishing Tournament System</div>
<div class="address-bar">Charleston, SC</div>

<%= render 'layouts/navigation' %>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="/assets/fish1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="/assets/fish2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="/assets/fish3.jpg" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <h2 class="brand-before">
                    <small>Welcome to</small>
                </h2>
                <h1 class="brand-name">The Fishing Tournmanent System</h1>
                <hr class="tagline-divider">
                <h2>
                    <small>By
                        <strong>Matt Shelley and Phillip Straney</strong>
                    </small>
                </h2>
            </div>
            <div class="col-lg-12 text-center">
                <img class="img-social" src="/assets/facebook.jpg" alt=""><img class="img-social" src="/assets/twitter.jpg" alt=""><img class="img-social" src="/assets/gplus.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Upcoming <strong>Tournaments</strong>
                </h2>
                <hr>
                <% @tournaments.each do |tournament| %>
                    <h2 class="brand-before"><%= tournament.Name %> - <%= tournament.StartDt %></h2>
                    <p><%= tournament.Description %></p>
                    <p><strong>Event Sponsors:</strong> 
                        <%= get_tournament_sponsors(tournament.TournamentID) %>
                    </p>
                    <p><strong>Entry Fee: </strong><%= tournament.EntryFee %></p>
                <% end %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center"><strong>About</strong> Fishing Tournament System
                </h2>
                <hr>
                <hr class="visible-xs">
                <p>Fishing Tournament System (FTS) delivers a web-based dynamic solution for organizations that execute fishing tournament events, charities that benefit from tournmanent proceeds, sponsors of tournaments, and most importantly, local anglers looking to find and participate in exciting tournaments.</p>
                <p>FTS allows organizations to market and track fishing tournament events as well as share results with the community.</p>
                <p>Anglers can quickly and easily register online (including secure payment of fees).</p>  
                <p>Each fishing event is easy to find for details such as date and time, prizes, cost to register, charities benefited, sponsors, and more. Results of each tournament and prize winners are easy to find.  Winning fish will be listed with measurements and pictures (if available).  Each event will have a special hash tag that can be used on social media.  The tag will allow the community to link content to the event through social media.  Event pictures will be displayed in a photo book.</p>
                <p>Any sensitive or personally identifiable information collected by the site will be secured, encrypted, and protected from retrieval by unauthorized parties.  Event data will be protected from modification by unauthorized parties.  The system will provide a description of the collection of sensitive information and provide users with an understanding of how it is used and protected.</p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
$(document).on('ready', function () {
  $('.carousel').carousel({
      interval: 5000 //changes the speed
  })
});
</script>
