<%# add navigation links to this file %>
<li>
    <%= link_to 'Home', root_path %>
</li>
<li>
    <%= link_to 'Anglers', page_path('angler') %>
</li>
<li>
    <%= link_to 'Sponsors', page_path('sponsor') %>
</li>
<li>
    <%= link_to 'Charities', page_path('charity') %>
</li>
<li>
    <%= link_to 'Clubs', page_path('club') %>
</li>